html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin-bottom: 10px;
}

#login-page {
    width: 320px;
}

.login-form #logo-custom {
  margin-bottom: 10px;
}

#logo-custom img {
  padding-right: 5%;
  padding-top: 10px;
  width: 37%;
}

.mercapp-body {
    background-color: #00ad45;
}

.login-form-text {
    color: #1ba719;
    font-style: italic;
    font-size: 17px;
}

a.link-mercapp {
    font-size: 14px;
}

a.link-mercapp:hover {
    color: #1ba719;
    font-size: 15px;
}

.alert .close ~ span {
    display: block;
    max-width: 89%;
    box-sizing: border-box;
}
.alert span[data-notify="icon"] {
    font-size: 30px;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.alert a {
    box-sizing: border-box;
}

.alert[data-notify="container"] {
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

.alert.alert-with-icon {
    padding-left: 65px;
}

.alert-info {
  background-color: #7CE4FE;
  color: #3091B2; }

.alert-success {
  background-color: #8EF3C5;
  color: #42A084; }

.alert-warning {
  background-color: #FFE28C;
  color: #BB992F; }

.alert-danger {
  background-color: #FF8F5E;
  color: #B33C12; }

.alert {
    border: 0;
    font-size: 14px;
}

.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.msg-pop {
    display: none;
}

@media (min-width: 768px) {
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}

@media (min-width: 480px) {
    #login-page {
        width: 460px;
    } 
}